.container {
    max-width: 132rem;
    width: 100%;

    padding-left: 4rem;
    padding-right: 4rem;

    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

.faq-section {
    margin-top: 14rem;
    color: #fff;
    margin-bottom: 16rem;
}
