.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    margin-top: 12rem;

    &__container {
        max-width: 100%;
        display: flex;
        gap: 8rem;
        margin-bottom: 6rem;
    }
    &__column {
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.625;
        margin-bottom: 1.6rem;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__list-item {
    }
    &__link {
        &:link,
        &:visited {
            font-size: 1.4rem;
            font-weight: 400;
            text-decoration: none;
            line-height: 1.5;
            color: inherit;

            opacity: 0.6;

            padding-bottom: 0.3rem;

            transition: all 0.1s ease;
        }

        &:hover,
        &:active {
            opacity: 1;
        }
    }
    &__separator {
        display: inline-block;
        height: 1px;
        width: 80%;
        background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.5) 16%,
            rgba(255, 255, 255, 0.5) 84%,
            rgba(0, 0, 0, 0) 100%
        );

        margin-bottom: 6rem;
    }
    &__logo-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__logo {
        width: 12rem;
        margin-bottom: 4rem;
    }
    &__socials {
        display: flex;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    &__socials-icon {
        width: 2rem;
        height: 2rem;
        color: #fff;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        box-shadow: 0 0 0 1px #e9ecef;
    }
    &__copy {
        font-size: 1.2rem;
        opacity: 0.8;
        margin-bottom: 3rem;
    }
}
