@use "../abstracts/variables" as *;

.btn {
    &:link,
    &:visited {
        display: inline-block;

        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;

        letter-spacing: -0.025rem;
        border-radius: 9px;

        padding: 0.8rem 3.2rem;

        transform: scale(1);
        transition: all 0.3s;
    }

    &:hover {
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
        transform: scale(1.02);
    }

    &:active {
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
        transform: scale(1);
        opacity: 0.85;
    }

    &--white {
        color: $color-text-dark;
        background-color: rgb(233, 236, 239);
    }

    &--primary {
        color: #fff;
        background-image: linear-gradient(310deg, rgb(234, 6, 6), rgb(255, 102, 124));
    }
}
